@font-face {
  font-family: "Spline Sans Mono";
  src: url("~/assets/fonts/spline-sans-mono/SplineSansMono-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spline Sans Mono";
  src: url("~/assets/fonts/spline-sans-mono/SplineSansMono-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: italic;
  font-display: swap;
}

/* Tailwind Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Custom Colors
 */

@layer base {
  :root {
    --color-black: 23 21 29;
    --color-black-light: 33 26 41;
    --color-white: 224 226 238;
    --color-grey: 192 194 206;

    --color-fantasy-orange: 254 141 36;
    --color-fantasy-yellow: 254 245 36;
    --color-fantasy-green: 36 254 110;
    --color-fantasy-blue: 36 208 254;
    --color-fantasy-pink: 223 36 254;
  }
}

/* Main Styles */
body {
  @apply font-spline bg-black-light p-4 text-grey font-light leading-normal overflow-hidden;
}

* {
  @apply relative focus:outline-none;
}

h1,
h2,
h3,
h4 {
  @apply font-medium;
}

h1 {
  @apply text-7xl md:text-8xl text-white;
}

h2 {
  @apply text-3xl md:text-4xl text-white;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-lg;
}

a {
  @apply transition-colors ease-in-out duration-500 text-white;

  &.router-link-exact-active {
    @apply text-fantasy-pink;
  }
}

/* Custom Classes */
.comment-decorator {
  @apply before:content-['/\*'] before:text-fantasy-orange before:pr-2 after:content-['*/'] after:text-fantasy-orange after:pl-2;
}
.dash-decorator {
  @apply before:content-['>>'] before:text-fantasy-yellow before:pr-2;
}
.hash-decorator {
  @apply before:content-['#'] before:text-fantasy-pink before:pr-2;
}
